body{
    background-color: rgb(83, 32, 32);
}
@media(min-width: 780px){

    body{
        background-color: rgb(160, 25, 25);
        color: black;
    }

}
@media screen and (min-width: 480px) and (max-width: 780px){
    body{
        background-color: rgb(160, 25, 25);
        color: black;
    }
}
@media screen and (min-width: 480px){
    body{
        background-color: rgb(160, 25, 25);
        color: black;
    }
}